p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

pre code {
  background-color: transparent;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

h1 {
  color: red;
}